services:
  zplgrid-web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: zplgrid-web-dev
    ports:
      - '5173:5173'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: 'true'
